button {
  padding: 0.7rem 1.2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: all 0.3 ease;
}

.primary {
  background-color: hsl(0, 0%, 100%);
  color: hsl(212, 27%, 19%);
  transition: all 0.3s ease;
}

.primary:hover {
  background-color: hsl(198, 84%, 75%);
  color: hsl(0, 0%, 100%);
}

.secondary {
  background-color: hsl(51, 100%, 49%);
}

.secondary:hover {
  background-color: hsl(51, 90%, 69%);
}
